.main {
	padding-top: 10px;
	text-align: left;
	width: 94vw;
	max-width: 1200px;
	margin: auto;
}

.title {
	font-weight: 400;
	font-size: 3rem;
}

.presidents {
	padding-top: 2%;
}

.directors {
	display: grid;
	grid-template-columns: 25vw 25vw 25vw;
	justify-content: space-between;
}

@media (orientation: portrait) or (max-width: 700px) {
	.directors {
		grid-template-columns: auto;
	}
}
