.announcement {
	position: relative;
	box-sizing: border-box;

	min-height: 140px;
	height: 22vh;
	margin-bottom: 2vh;

	/* Prim [day] */
	border: 1px solid var(--primary-color);
	border-radius: 10px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.date {
	position: absolute;
	right: 0;
	top: 0;
	padding: 2.5%;

	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 0.9rem;

	text-align: right;

	/* Prim [day] */
	color: var(--primary-color);
}

.text {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5%;

	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-weight: 450;
	font-size: 1.5rem;

	color: var(--primary-color);
}
