.main {
	height: min-content;
	width: 100vw;
	overflow-x: hidden;
	/* overflow-y: hidden; */
}

.title {
	/* CONTACT US */

	/* position: static; */
	/* width: 125%; */
	/* margin-left: -12.5%; */

	padding-top: 2vh;
	padding-bottom: 5vh;

	font-family: "Manrope", "Arial", sans-serif;
	font-weight: bolder;
	font-size: 12vw;
	text-align: center;

	/* Prim [day] */
	color: #000000;
}

.prompt {
}

#lets_talk {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 15rem;
	height: 5rem;

	position: relative;

	margin: auto;

	/* Base [day] */
	background: #ffffff;

	/* Prim [day] */
	border: 1px solid #000000;
	border-radius: 52px;
}
#lets_talk p {
	/* margin: auto; */
	/* padding: auto; */
	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-size: 2rem;
	text-align: center;
	/* Prim [day] */
	color: #000000;
}

.limiter {
	/* position: absolute; */
	/* height: calc(100vh - 15rem); */
	width: 100vw;

	/* bottom: 30%; */
	overflow-y: clip;
	overflow-x: hidden;
}

.circle {
	z-index: -1;
	height: 55vh;
	width: 100vw;

	position: fixed;
	bottom: 0;
	/* right: -2vw; */

	border-top-left-radius: 120vw;
	border-top-right-radius: 120vw;
	/* top: 45%; */
	/* Prim [day] */
	background: #302e2e;
	overflow-x: hidden;
}

.buttons {
	margin: 5% auto auto;
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 5vh;
	padding-bottom: 7.5vh;
}
.button {
	width: 3rem;
	height: 3rem;
	margin: 2rem;
}

#feedback {
	text-align: center;
	position: relative;
	/* width: 65vw; */
	padding-bottom: 5vh;

	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 0.06em;

	/* Base [day] */
	color: #ffffff;
}

#feedback a {
	text-decoration: underline;
}
@media (max-width: 700px) {
	.buttons {
		margin-top: 3rem;
		width: 90vw;
	}
	.button {
		margin: 1rem;
	}
	.title {
		padding-top: 15vh;
	}
}
