.main {
	height: calc(100vh - 70px);
}
.titleLimiter {
	width: 100vw;
	overflow-x: hidden;
}

.title {
	padding-top: 2vh;
	line-height: 16.35vw;
	padding-bottom: 5vh;

	font-family: "Manrope", "Arial", sans-serif;
	font-weight: bolder;
	font-size: 12vw;
	text-align: center;

	/* Prim [day] */
	color: var(--primary-color);
	z-index: 5;
	position: sticky;
	animation: scroll-around 15s linear infinite;
}

@keyframes scroll-around {
	0% {
		transform: translateX(0%);
	}
	25% {
		transform: translateX(45%);
	}
	75% {
		transform: translateX(-45%);
	}
}

.prompt {
	position: relative;
}

.prompt {
	position: relative;
}

#lets_talk {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 15rem;
	height: 5rem;

	position: relative;

	margin: auto;

	border-radius: 10px;
	z-index: 2;
}
#lets_talk p {
	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-size: 2rem;
	text-align: center;
	/* Prim [day] */
	color: var(--primary-color);
	z-index: 0;
	transition: color 0.5s;
}
#lets_talk:focus p,
#lets_talk:hover p {
	color: var(--base-color);
}

.limiter {
	position: absolute;
	top: 35%;
	width: 100vw;
	min-height: 300px;
	height: calc(100vh - 60px - 7vh - 5rem - 10vw);
	background-color: var(--base-color);

	overflow: hidden;
	z-index: 1;
}

.circle {
	z-index: 0;
	height: max(75vw, 100vh);
	width: 150vw;
	position: absolute;
	top: 0;
	left: -25vw;
	border-top-left-radius: 120vw;
	border-top-right-radius: 120vw;
	/* Prim [day] */
	background: var(--tertiary-color);
	overflow-x: hidden;
}

.buttons {
	position: relative;
	margin: 5% auto auto;
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 5vh;
	padding-bottom: 7.5vh;
}
.buttons a {
	display: block;
	width: 3rem;
	height: 3rem;
	margin: 2rem;
	filter: var(--asset-filter);
}

#feedback {
	text-align: center;
	position: relative;
	padding-bottom: 5vh;

	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 0.06em;

	/* Base [day] */
	color: var(--primary-color);
}

#feedback a {
	text-decoration: underline;
}
@media (max-width: 900px) {
	.buttons {
		width: 90vw;
		z-index: 1;
	}
	#feedback {
		margin-left: 5vw;
		margin-right: 5vw;
		z-index: 1;
	}
}
