.main {
	height: min-content;
	width: 100vw;
	overflow-x: hidden;
}

.title {
	padding-top: 2vh;
	padding-bottom: 5vh;

	font-family: "Manrope", "Arial", sans-serif;
	font-weight: bolder;
	font-size: 12vw;
	text-align: center;

	/* Prim [day] */
	color: var(--primary-color);
	z-index: 5;
	position: sticky;
	animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-90%);
    }
}

#lets_talk {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 15rem;
	height: 5rem;

	position: relative;

	margin: auto;

	/* Base [day] */
	background: var(--secondary-color);

	/* Prim [day] */
	border: 1px solid var(--primary-color);
	border-radius: 52px;
	z-index: 1;
}
#lets_talk p {
	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-size: 2rem;
	text-align: center;
	/* Prim [day] */
	color: var(--primary-color);
}

.limiter {
	width: 100vw;
	overflow-y: clip;
	overflow-x: hidden;
}

.circle {
	z-index: 0;
	height: 55vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	border-top-left-radius: 120vw;
	border-top-right-radius: 120vw;
	/* Prim [day] */
	background: var(--tertiary-color);
	overflow-x: hidden;
}

.booster {
	display: none;
}

.buttons {
	position: relative;
	margin: 5% auto auto;
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 5vh;
	padding-bottom: 7.5vh;
}
.buttons a {
	display: block;
	width: 3rem;
	height: 3rem;
	margin: 2rem;
	filter: var(--asset-filter);
}

#feedback {
	text-align: center;
	position: relative;
	padding-bottom: 5vh;

	font-family: "Manrope", "Arial", sans-serif;
	font-style: normal;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 0.06em;

	/* Base [day] */
	color: var(--secondary-color);
}

#feedback a {
	text-decoration: underline;
}
@media (max-width: 900px) {
	.booster {
		display: block;
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 31vh; /* 1 extra to avoid a seam */
		background-color: var(--tertiary-color);
		z-index: 0;
	}
	.circle {
		bottom: 30vh;
		height: 45vh;
	}
	.buttons {
		width: 90vw;
		z-index: 1;
	}
	#feedback {
		z-index: 1;
	}
}
