#footer {
	border-top: 1px solid var(--primary-color);
	height: 150px;
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content: space-between;
	font-size: 1.1rem;
	bottom: 0;
}
#github_logo {
	margin-left: 15px;
	color: var(--primary-color);
	width: 30px;
	opacity: 0.75;
}

@media (max-width: 800px) {
	#footer {
		flex-direction: column-reverse;
		align-items: flex-start;
		height: 175px;
		justify-content: center;
	}
	#github_logo {
		margin-left: 0px;
	}
}

@media (max-width: 500px) {
	#footer {
		height: 210px;
	}
}
