@font-face {
	font-family: "Manrope";
	src: url("/fonts/Manrope/Manrope-Light.ttf") format("truetype");
}

:root {
	--main-font: "Manrope", Arial, Helvetica, sans-serif;
	font-family: var(--main-font);

	/**** theming variables ****/
	--base-color: white;
	--primary-color: black;
	--secondary-color: #B0B0B0;
	--tertiary-color: #D2D2D2;
	--gradient-purple: linear-gradient(180deg, #D100B0 0%, #752DC0 100%);

	/* assuming all assets are black for light mode by default */
	--asset-filter: none;
	/* conditional render of dark/light *specific* assets like the sun/moon button */
	--display-light-assets: block;
	--display-dark-assets: none;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--main-font);
	color: var(--primary-color);

	/* breaks negative z-index elements, so only use z-indices >= 0 */
	background-color: var(--base-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#navbar_parent {
	margin-top: 15px;
}

.dark-mode {
	--base-color: #0A0A0A;
	--primary-color: #E9E9E9;
	--secondary-color: #4B4B4B;
	--tertiary-color: #141414;

	/* it's ok to have a little invert, not the whole page */
	--asset-filter: invert();
	/* conditional render of dark/light *specific* assets like the sun/moon button */
	--display-light-assets: none;
	--display-dark-assets: block;
}
