@font-face {
	font-family: "Manrope";
	src: url("/fonts/Manrope/Manrope-Light.ttf") format("truetype");
}

:root {
	--main-font: "Manrope", Arial, Helvetica, sans-serif;
	font-family: var(--main-font);

	/**** theming variables ****/
	--primary-color: black;
	--secondary-color: white;
	--tertiary-color: #302e2e;  /* name tentative, open to refactor */

	/* assuming all assets are black for light mode by default */
	--asset-filter: none;
	/* conditional render of dark/light *specific* assets like the sun/moon button */
	--display-light-assets: block;
	--display-dark-assets: none;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--main-font);
	color: var(--primary-color);

	/* breaks negative z-index elements, so only use z-indices >= 0 */
	background-color: var(--secondary-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#navbar_parent {
	margin-top: 15px;
}

.dark-mode {
	--primary-color: white;
	--secondary-color: black;
	--tertiary-color: #cfd1d1;

	/* it's ok to have a little invert, not the whole page */
	--asset-filter: invert();
	/* conditional render of dark/light *specific* assets like the sun/moon button */
	--display-light-assets: none;
	--display-dark-assets: block;
}
