@font-face {
	font-family: "Manrope";
	src: url("/fonts/Manrope/Manrope-Light.ttf") format("truetype");
}

:root {
	--main-font: "Manrope", Arial, Helvetica, sans-serif;
	font-family: var(--main-font);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--main-font);
	color: var(--primary-color);

	/* as of right now, breaks negative z-index elements like the contact page */
	background-color: var(--secondary-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#navbar_parent {
	margin-top: 15px;
}

@media (prefers-color-scheme:light) {
	:root {
		--primary-color: black;
		--secondary-color: white;
		--tertiary-color: #302e2e;  /* name tentative, open to refactor */

		/* assuming all assets are black for light mode by default */
		--asset-filter: none;
	}
}
@media (prefers-color-scheme:dark) {
	:root {
		--primary-color: white;
		--secondary-color: black;
		--tertiary-color: #cfd1d1;

		/* it's ok to have a little invert, not the whole page */
		--asset-filter: invert();
	}
}
