.gradient {
    background: var(--gradient-purple);
    /*
     * `text` only works on chromium under `-webkit-background-clip`
     * which next implicitly adds as a compatibility alias
     */
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
