.title {
    background: var(--gradient-purple);
    /*
     * `text` only works on chromium under `-webkit-background-clip`
     * which next implicitly adds as a compatibility alias
     */
    /* noinspection CssInvalidPropertyValue */
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.shadow {
    /* Glow */
    box-shadow: 0 10px 60px rgba(120, 0, 205, 0.49),
    0 2px 12px rgba(120, 0, 205, 0.292093),
    0 1px 5px rgba(120, 0, 205, 0.197907);
}

.border {
    border: double 1px transparent;
    background-image: linear-gradient(var(--base-color), var(--base-color)), var(--gradient-purple);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
}

.pill {
    border-radius: 10px;
    width: fit-content;
    height: 40px;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pill span {
    font-size: 1.3rem;
    padding-right: 25px;
    padding-left: 25px;
}

/* GradientButton background element styles/transition */
.border .background {
    position: absolute;
    width: 150%;
    height: 0;
    padding-bottom: 150%;
    top: 200%;
    left: -25%;
    border-radius: 50%;
    z-index: 0;
    background-image: var(--gradient-purple);
    transition: top 0.5s;
    text-decoration: none;
}
.border:hover .background {
    top: -250%;
}
.border:focus .background {
    top: -300%;
    transition: top 0s;
}
