#nav {
	height: 100%;
	width: 94vw;
	margin: auto;
	display: flex;
	align-items: center;
}

#buttons {
	font-size: 1.5rem;
	display: flex;
	width: fit-content;
	height: fit-content;
	margin-left: auto;
}
.link {
	margin-left: 10px;
	margin-right: 10px;
}

#logo {
	cursor: pointer;
	filter: var(--asset-filter);
}

.sandwich {
	display: none;
}

@media (max-width: 680px) {
	.sandwich {
		padding-top: 0.2rem;
		padding-left: 0.4rem;
		cursor: pointer;
		display: block;
		filter: var(--asset-filter);
	}
	.link {
		display: none;
	}
}

.toggle {
	width: 1.5rem;
	height: 1.5rem;
	padding-top: 0.2rem;
	cursor: pointer;
	margin-right: 10px;
}

.sun {
	display: var(--display-dark-assets);
}
.moon {
	display: var(--display-light-assets);
}
