#nav {
	width: 94vw;
	margin: auto;
	display: flex;
	align-items: center;
}

#links_container {
	font-size: 1.5rem;
	display: flex;
	width: fit-content;
	height: fit-content;
	margin-left: auto;
}
.link {
	margin-left: 10px;
	margin-right: 10px;
}

#logo {
	cursor: pointer;
	filter: var(--asset-filter);
}

@media (max-width: 400px) {
	#links_container {
		margin: auto;
		font-size: 1.4rem;
	}
}
@media (max-width: 370px) {
	#links_container {
		margin: auto;
		font-size: 1.35rem;
	}
}
