.profile {
	display: grid;
	grid-template-columns: 33% auto;
	grid-template-rows: auto;
	column-gap: 3vw;
	align-items: center;
	justify-items: center;
	padding-bottom: 10vh;
	padding: 30px;
}

.director .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.image {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.description {
	font-family: "Manrope", "Arial", sans-serif;
	font-size: 1.5rem;
	margin-top: 1vh;
}
.profile_info {
	width: 100%;
}

.profile_name {
	font-size: 2rem;
}

.profile_pronouns {
	font-size: 1.35rem;
}

.description p {
	padding-bottom: 1vh;
}

@media (max-width: 900px) {
	.profile,
	.director .profile {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: none;
		column-gap: 3vw;
		align-items: center;
		justify-items: center;
		padding-top: 5vh;
		padding-bottom: 0;
	}
	.description {
		font-size: 1.4rem;
	}

	.image,
	.director .profile .image {
		height: 80vw;
		width: 80vw;
		padding-bottom: 0;
		max-width: 300px;
		max-height: 300px;
	}
}
