#container {
	width: 100%;
	height: 100%;
	display: flex;
}

#pills {
	display: flex;
	position: absolute;
}

#schedule_type {
	margin-left: 1.75vw;
}
#current_time {
	margin-left: 1vw;
}

#schedule_widget {
	margin-top: auto;
	width: 100%;
	height: 180px;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 12px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
}
.bottom {
	align-self: flex-end;
}

#current_period {
	font-size: 6rem;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.small {
	font-size: 1rem;
}
.highlight {
	font-size: 2rem;
}
@media (max-width: 1000px) {
	#current_period {
		font-size: 4.5rem;
	}
	#schedule_widget {
		font-size: 1.25rem;
	}
	.highlight {
		font-size: 1.4rem;
	}
	.shorten_utes {
		display: none;
	}
}

@media (max-width: 480px) {
	#current_period {
		font-size: 2.75rem;
	}
}
