#container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#schedule_type {
	margin-left: 2vw;
}
#current_time {
	margin-left: calc(3vw + 160px);
}

#schedule_widget {
	margin-top: auto;
	width: 100%;
	height: 180px;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 12px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
}
.bottom {
	align-self: flex-end;
}

#current_period {
	font-size: 3.5rem;

	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.highlight {
	font-size: 2rem;
}
@media (max-width: 750px) {
	#schedule_widget {
		font-size: 1.25rem;
	}
	.highlight {
		font-size: 1.4rem;
	}
	.shorten_utes {
		display: none;
	}
}
