#weekly_schedule_parent {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 20px;
	height: calc(fit-content + 20px);
}

#label {
	margin-left: 3vw;
	margin-top: -20px;
}

#label span {
	font-size: 1.3rem;
}

#weekly_schedule_box {
	height: 330px;
	padding-top: 20px;
	margin-top: auto;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 0px;
}
#special_news_container {
	height: 70px;
	width: 100%;
	border-top: 1px solid var(--secondary-color);
	padding-left: max(30px, 2vw);
	display: flex;
	align-items: center;
}
#special_news_container p {
	font-size: 1.2rem;
}
#weekly_schedule {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px;
}

#weekly_schedule p {
	font-size: 1.3rem;
}

.highlight {
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
}

.hidden #weekly_schedule_parent {
	height: 40px;
}

.hidden #weekly_schedule_box {
	height: 0px;
}
@media (max-width: 1130px) {
	#label {
		cursor: pointer;
	}
}
